#calculator {
    display: flex;
    margin-top: 12px;
    margin-bottom: 45px;
    flex-wrap: wrap;
}

#calculator input[type="button"] {
    width: 25%;
    min-height: 4em;
    font-size: 18px;
    border-radius: 0;
}

#calculator input[type="text"] {
    width: 100%;
    font-size: 36px;
    border-radius: 0;
    min-height: 2em;
    text-align: right;
}

#calculator #equation {
    width: 100%;
    color: rgba(0,0,0,.4);
    font-size: 16px;
    min-height: 1em;
    text-align: right;
}

.btn-primary {
    background-color: #CD5334;
    border-color: #BB4C30;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover, .btn-primary:active:hover {
    background-color: #BB4C30;
    border-color: #AA3B1F;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn-primary:active:hover {
    background-color: #AA3B1F;
    border-color: #992A0D;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

input[type=button][disabled].btn-blank {
    background-color: #AA3B1F;
    cursor: default;
    opacity: 1;
}


footer {
    box-shadow: 0px 500px 0px 500px #561D25;
}