#wordInput {
    margin-top: 12px;
    margin-bottom: 45px;
}

#wordInput .input-group {
    margin-bottom: 10px;
}

#wordInput .input-group .input-group-addon {
    background-color: #E4C5C3;
    border-color: #E4C5C3;
}

#wordInput .input-group .form-control {
    border-color: #E4C5C3;
}

.btn-primary {
    background-color: #CD5334;
    border-color: #BB4C30;
}

.btn-primary:hover {
    background-color: #BB4C30;
    border-color: #BB4C30;
}

[class^="word"] {
    font-weight: bold;
}

#wordResult {
    margin-top: 12px;
    font-size: 16px;
    padding: 15px;
    background-color: #E4C5C3;
    border-radius: 4px;
    margin-bottom: 45px;
}

footer {
    box-shadow: 0px 500px 0px 500px #561D25;
}