@media (min-width: 768px) {
    .navbar .nav li a  {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

body {
    background-color: #FAD8D6;
}

.header {
    margin-top: 0;
}

.jumbotron {
    position: relative;
    background-color: rgba(205,83,52,.8);
    color: #FAD8D6;
    text-shadow: 2px 2px #992A0E;
}

.navbar-brand {
    height: auto;
}

.navbar-default {
    background-color: #FAD8D6;
    color: inherit;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-nav li a:hover {
    background-color: #E4C5C3;
}

.navbar-default .navbar-nav li a {
    color: #561D25;
}

.navbar-default .navbar-nav li.active a {
    background-color: #CD5334;
    color: #FAD8D6;
}

.navbar-default .navbar-nav li.active a:hover {
    background-color: #BB4C30;
    color: #FAD8D6;
}

.navbar-default ul {
    padding: 0;
    overflow: hidden;
}

.navbar-toggle {
    margin-top: 22px;
    margin-bottom: 22px;
}