@media (min-width: 768px) {
    .navbar .nav li a  {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .md-left {
        text-align: left;
    }
}

body {
    background-color: #FAD8D6;
    width: 100%;
}

.header {
    margin-top: 0;
}

.jumbotron {
    position: relative;
    background-image: linear-gradient(rgba(205,83,52,.8),rgba(205,83,52,.8)), url("images/header.jpg");
    color: #FAD8D6;
    text-shadow: 2px 2px #992A0E;
}

.navbar-brand {
    height: auto;
}

.navbar-default {
    background-color: #FAD8D6;
    color: inherit;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-nav li a:hover {
    background-color: #E4C5C3;
}

.navbar-default .navbar-nav li a {
    color: #561D25;
}

.navbar-default .navbar-nav li.active a, .navbar-default .navbar-nav .dropdown li.active a {
    background-color: #CD5334;
    color: #FAD8D6;
}

.navbar-default .navbar-nav li.active a:hover, .navbar-default .navbar-nav .dropdown li.active a:hover {
    background-color: #BB4C30;
    color: #FAD8D6;
}

.navbar-default ul {
    padding: 0;
}

.navbar-toggle {
    margin-top: 22px;
    margin-bottom: 22px;
}

.navbar-default .navbar-nav .dropdown li a {
  padding: 12px 24px;
  background-color: #FAD8D6;
}

.navbar-default .navbar-nav .dropdown li a:hover {
  background-color: #E4C5C3;
}

.dropdown-menu {
  border: none;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #E4C5C3;
    color: #561D25;
}

.footer {
    padding-top: 20px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
}

.main-row {
    padding-bottom: 20px;
    border-bottom: 1px solid #561D25;
    margin-bottom: 20px;
}