/*
* Colors:
* Background - #561D25
* Container Background (Light) - #FAD8D6
* Header - #CD5334
* Links and Other Highlights - #17BEBB
*/

* {
    box-sizing: border-box;
}

.center {
    width: 50%;
    min-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin-bottom: 100px;
    background-color: #FAD8D6;
    padding: 3rem 0;
}

.footer {
    text-align: center;
    color: #FAD8D6;
}

body {
    background-color: #561D25;
    color: #561D25;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

img {
    width: 100%;
}

.header {
    position: relative;
    background-color: rgba(205,83,52,.8);
    color: #FAD8D6;
    margin-top: 59px;
    min-height: 30%;
    padding: 4rem 0;
}

.headerImg {
    background-image: url("images/header.jpg");
    width: 100%;
}

.header h1 {
    text-shadow: 2px 2px #992A0E;
    font-size: 1.9em;
    margin-top: 0px;
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
}

.header h2, .header h3, .header p {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.header .noMargin {
    margin-bottom: 0px;
}

/* 
* Navigation Bar
*/

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FAD8D6;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 10;
}

.nav ul {
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: left;
    border-bottom: 0;
}

.nav li a {
    display: block;
    color: inherit;
    padding: 10px 12px;
    text-decoration: none;
}

.nav li:hover {
    background-color: #E4C5C3;
}

.nav li:active {
    background-color: #CD5334;
    color: #FAD8D6;
}

li.active {
    background-color: #CD5334;
    color: #FAD8D6;
}

li.active:hover {
    background-color: #BB4C30;
}

#logo img {
    width: 45px;
    height: 45px;
}

#logo {
    padding: 5px 6px;
}

#logo:hover {
    background-color: #FAD8D6;
}

/*
* End Navigation Bar 
*/

a {
  color: #17BEBB;
  text-decoration: none;
}

th {
    background-color: #CD5334;
    color: #FAD8D6;
}

td.quarterWidth, th.quarterWidth {
    width: 1em;
    text-align: center;
}

table {
    border-collapse: collapse;
}

ul {
    padding-left: 0;
    list-style-type: none;
    margin: 0px -10px 0px -10px;
}

ul li {
    border-bottom: 1px solid #CD5334;
    padding: 10px;
}

/*
* CSS to create the image overlays on the movies page
*/

#movie1 {
    background-image: url("images/inception.jpg");
}

#movie2 {
    background-image: url("images/meearlandthedyinggirl.jpg");
}

#movie3 {
    background-image: url("images/darkknight.png");
}

#movie4 {
    background-image: url("images/walle.jpg");
}

#movie5 {
    background-image: url("images/interstellar.jpg");
}

.movieList {
    height: 400px;
    padding: 10px;
    background-size: 100%;
    position: relative;
    border-bottom: 5px #CD5334 solid;
}

.movieList p {
    position: absolute;
    background: #FAD8D6;
    padding: 3px 5px 3px 5px;
    width: 42%;
    top: 60%;
}

.movieList h3 {
    position: absolute;
    top: 50%;
}

.movieList h3 span {
    background: #CD5334;
    color: #FAD8D6;
    padding: 3px 5px 3px 5px;
}

.movieList .imdbLink {
    position: absolute;
    top: 90%;
    left: 90%;
    width: 50px;
}

.movieList .imdbLink span {
    background: #FAD8D6;
    padding: 3px 5px 3px 5px;
}